apiVersion: apps/v1
kind: Deployment
metadata:
  name: security-manager
spec:
  replicas: 1
  selector:
    matchLabels:
      app: security-manager
  template:
    metadata:
      labels:
        app: security-manager
    spec:
      nodeSelector:
        kubernetes.io/hostname: microk8s-cluster-1
      containers:
        - name: manager
          image: {{ .Values.manager.image }}
          imagePullPolicy: Always
          ports:
            - containerPort: {{ .Values.manager.port }}
          env:
            - name: BROKER_ADDRESS
              value: {{ .Values.manager.env.BROKER_ADDRESS }}
