apiVersion: apps/v1
kind: Deployment
metadata:
  name: zookeeper
spec:
  replicas: 1
  selector:
    matchLabels:
      app: zookeeper
  template:
    metadata:
      labels:
        app: zookeeper
    spec:
      nodeSelector:
        kubernetes.io/hostname: microk8s-cluster-1
      containers:
        - name: zookeeper
          image: docker.io/bitnami/zookeeper@sha256:4d450d4b1dab610e1012993d2ea78ba00a516b63e74214a57fef40c060ce4986
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: {{ .Values.kafka.zookeeperPort }}
          env:
            - name: ALLOW_ANONYMOUS_LOGIN
              value: "yes"
              