curl -X POST http://localhost:8000/topology   -H "Content-Type: application/json"   -d '[
    {
      "vl_id": "ns_001.vl_001",
      "neighbours": [
        {
          "vnf_id": "VNF_A",
          "interface": "eth0",
          "publickey": "vnfa-PKEY"
        },
        {
          "vnf_id": "VNF_B",
          "interface": "eth0",
          "publickey": "vnfb-PKEY"
        }
      ]
    }
  ]'